
/*********************************
6. Blog
*********************************/

.blog
{
	background: #ffffff;
	padding-top: 82px;
	padding-bottom: 110px;
	border-bottom: solid 2px #eaf2f7;
}
.blog_post_date
{
	position: absolute;
	top: 36px;
	left: 37px;
	width: 116px;
	height: 26px;
	background: #ffa37b;
	text-align: center;
}
.blog_post_date a
{
	display: block;
	height: 100%;
	line-height: 26px;
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
}
.blog_post_content
{
	padding-top: 45px;
	padding-left: 64px;
	padding-bottom: 59px;
	padding-right: 75px;
}
.blog_post_title a
{
	font-size: 36px;
	font-weight: 600;
	color: #393939;
	line-height: 1.2;
}
.blog_post_title a:hover
{
	color: #ffa37b;
}
.blog_post_info
{
	margin-top: 2px;
}
.blog_post_info ul li
{
	margin-bottom: 5px;
}
.blog_post_info ul li:not(:last-of-type)
{
	margin-right: 21px;
}
.blog_post_info ul li img
{
	margin-right: 5px;
}
.blog_post_info ul li a
{
	font-size: 15px;
	font-weight: 500;
	color: #abaaaa;
}
.blog_post_info ul li a:hover
{
	color: #000000;
}
.blog_post_text
{
	margin-top: 16px;
}
.blog_post_button
{
	margin-top: 42px;
}
.page_nav
{
	margin-top: 46px;
}
.page_nav ul li:not(:last-of-type)
{
	margin-right: 5px;
}
.page_nav ul li a
{
	font-size: 18px;
	font-weight: 600;
	color: #393939;
}
.page_nav ul li a:hover,
.page_nav ul li.active a
{
	color: #ffa37b;
}

